@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

[data-layout="p1"] {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto; 
  @apply bg-blue-50;
  height: 100vh;
  overflow: hidden;
  @apply gap-24;

} 

[data-container="p1c1_sidebar"] {
  padding: 20px;
  grid-template-rows: auto 1fr auto auto;
  width: 306px;
  
  @apply bg-white;
  
}


[data-header="p1c1_header"]{
  display: flex;
  align-items: center;
  justify-content: center;
  @apply gap-3;
}

[data-header="p1c1_header"] img {
  width: 37px;
  height: 37px;
}

[data-heading="p1c1h1_title"] {
  @apply font-poppins font-semibold text-[26px];
}

[data-navigation="p1c2w1_sidebar-nav"] {  
  background-color: white;
  @apply sticky mt-10 ml-10;
}

[data-list="p1c2w1l_list"] {
  list-style: none;
  
  

}

[data-item^="p1c2w1l"] {
  display: flex;
  align-items: center;

  @apply gap-5;
}

[data-item^="p1c2w1l"] img {
  width: 24px;
  height: 24px;
}

[data-item^="p1c2w1l"] span {

  color: #9197B3;
  @apply font-poppins font-medium text-[14px]
}

[data-container="p1c3_container"] {
 
  @apply bg-white;
}

[data-layout="main-container"] {
    gap:20px;
    padding: 20px;
  display: grid;
  grid-template-rows: auto auto 1fr ;

}

[data-container="p1c4_container"] {
display: grid;
grid-template-columns: 1fr 1fr;
gap:20px

}

[data-container="p1c5_container"] {
display: grid;
grid-template-columns: repeat(3,1fr);
gap:10px
}

[data-container="p1c6_container"] {
  
 
}
